body {
background-color: rgb(249, 192, 255);
}
#hr-top {
    margin-top: 30px;
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

.header-container {
    display:flex;
    align-items: center;
    height: 100px;
   background-color: rgb(207, 101, 180);
   
}



.Headline{
flex: 1;
text-align: center;
font-family: "Times New Roman";
font-size: 25px;
padding-left: 150px;
}


.navbar ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding:0;
    background-color: #333;
    overflow: hidden;
    
}
.navbar li {
    background-color: green;
    /* border-right: 2px solid white; */
    border:solid#fff;
}

li.nav-item {float: left;}
li.nav-item a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.nav-item a:hover {background-color: #555;}

.trivia-container {
    display: flex;
    overflow: hidden;
    padding-top: 80px;
    justify-content: space-around;
    text-align:center; 
}

.trivia-children {
    width: 50%;
    box-sizing: border-box;
    
}

#Geography-img{
    /* padding-left: 200px;  */
    border: solid black;
    height: 400px;
    width: 400px;
    margin-left: 200px;

}

.about-section {
    padding-left: 20px;
    height: 400px;
}

#play-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 18px;
}

#play-button:hover {
    background-color: blue;
}


.othergames-container {
    display: flex;
    padding-left: 20px;
    padding-top: 100px;
    justify-content: space-around;
    text-align: center;
   
}

.box {
    width:300px;
    height:320px;
    overflow: hidden;
    border: 1px solid;
    background-color: white;
    
}

.box h2 {
    border-bottom:solid;
}

.box img {
    height: 250px;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    /* object-fit: cover; */
    width: 300px;
    text-align: center;
   
}

#game-container  {
    display: flex;
    justify-content: center; 
    align-items: center;
    /* text-align: left; */
    font-size: large;
}

.game {
text-align: center;
 width: 800px;
 height: 600px;
}

.game ul {
    display: inline-block;
    text-align: left;
}

#question-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

#question {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Comic Sans MS;
}
#answers ul {
    list-style-type: none;
    padding: 0;
}
#answers li {
    background-color:blue;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: #2980B9;
}
#next-button {
    background-color: #87CEEB;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#next-button:hover {
    background-color: #27AE60;
}

#restart-button {
    background-color: #87CEEB;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#restart-button:hover {
    background-color: #27AE60;
}